<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>myJavaWeb</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>helloServlet</servlet-name>
		<servlet-class>com.hy.ly.servlet.HelloServlet</servlet-class>
		<init-param>
			<param-name>username</param-name>
			<param-value>root</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>123456</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>helloServlet</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>myServlet</servlet-name>
		<servlet-class>com.hy.ly.servlet.MyServlet</servlet-class>
	</servlet>
	<context-param>
		<param-name>driver</param-name>
		<param-value>com.mysql.jdbc.Driver</param-value>
	</context-param>
	<context-param>
		<param-name>jdbcUrl</param-name>
		<param-value>jdbc:mysql:///test</param-value>
	</context-param>
	<context-param>
		<param-name>userName</param-name>
		<param-value>zhangsan</param-value>
	</context-param>
	<context-param>
		<param-name>password</param-name>
		<param-value>123456</param-value>
	</context-param>
	<context-param>
		<param-name>charEncode</param-name>
		<param-value>UTF-8</param-value>
	</context-param>
	<!-- 用户信息放入到Session中的键的名称 -->
	<context-param>
		<param-name>userSessionKey</param-name>
		<param-value>USERSESSIONKEY</param-value>
	</context-param>
	<!-- 若未登录，重定向的页面地址信息 -->
	<context-param>
		<param-name>redirectPath</param-name>
		<param-value>/filter/verify/login.jsp</param-value>
	</context-param>
	<!-- 不需要检查，或拦截的url列表 -->
	<context-param>
		<param-name>uncheckedUrls</param-name>
		<param-value>/filter/verify/login.jsp,/filter/verify/list.jsp,/filter/verify/doLogin.jsp,/filter/verify/a.jsp</param-value>
	</context-param>
	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>com.hy.ly.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/loginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>mainJsp</servlet-name>
		<jsp-file>/main.jsp</jsp-file>
		<init-param>
			<param-name>myPara</param-name>
			<param-value>刘备</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>mainJsp</servlet-name>
		<url-pattern>/mainjsp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>forwardServlet</servlet-name>
		<servlet-class>com.hy.ly.servlet.ForwardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>forwardServlet</servlet-name>
		<url-pattern>/forwardServlet</url-pattern>
	</servlet-mapping>
	<error-page>
		<error-code>404</error-code>
		<location>/404.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.ArithmeticException</exception-type>
		<location>/WEB-INF/error.jsp</location>
	</error-page>
	<filter>
		<filter-name>helloFilter</filter-name>
		<filter-class>com.hy.ly.filter.HelloFilter</filter-class>
		<init-param>
			<param-name>myFilter</param-name>
			<param-value>auth2auth</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>helloFilter</filter-name>
		<url-pattern>/a.jsp</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>secondFilter</filter-name>
		<filter-class>com.hy.ly.filter.SecondFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>secondFilter</filter-name>
		<url-pattern>/a.jsp</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>  <!-- 默认是request方式、可以配置多种方式 -->
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<!-- 配置Listener监听器 -->
	<listener>
		<listener-class>com.hy.ly.listener.HelloServletContextListener</listener-class>
	</listener>
</web-app>